@import "tailwindcss";

@theme {
  --color-background: #050f24;
  --color-foreground: #ffffff;
  --color-institutional-navy: #091A3A;
  --color-institutional-dark: #050f24;
  --color-institutional-cyan: #00FFFF;
  --color-institutional-magenta: #FF00FF;
  --color-institutional-yellow: #FFFF00;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}
